.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs {
    width: 250px;
    height: auto;
    margin: 1em auto;
    padding: 5px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: aquamarine;
}

.Card {
    width: 250px;
    height: auto;
    margin: 1em auto;
    padding: 5px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: antiquewhite;
}