.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs {
    width: 250px;
    height: auto;
    margin: 1em auto;
    padding: 5px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: .50em;
    background-color: #e3e2e262;
}

.inputs input{
    width: 200px;
    height: 30px;
    margin: 5px;

    border-radius: .30em;
    border: none;
}

.FiltroDeBusca{
    display: flex;
    justify-content: center;
    align-items: center;
}

.FiltroDeBusca input{
    width: 200px;
    height: 30px;
    margin: 5px;

    border-radius: .30em;
   border: 1px solid black;
}

.btn{
    width: 40px;
    height: 30px;
}

.lupa {
    width: 100%;
}


button{
    width: 100px;
    height: 30px;
    margin: 15px;

    font-size: 15px;

    border-radius: .50em;
    border: none;
    background-color: rgba(128, 128, 128, 0.482) ;
}

.Card {
    width: 250px;
    height: auto;
    margin: 1em auto;
    padding: 15px 10px 5px; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    

    border-radius: .50em;
    background-color: #e3e2e262;
}

.Card span{
    font-size: 18px;
   
}
