@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Libre+Baskerville&family=Montserrat:wght@300;500;700&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 97vw;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.Box_InserirDados {
    width: 260px;
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    border-radius: .50em;

    background-color: #e9e5e5;
}

.Box_InserirDados button{
    margin-bottom: 10px;
}
.input {
    width: 200px;
    height: 30px;
    margin: 5px auto;

    border: none;
    border-radius: .50em;
}

.FiltroDeBusca {
    width: 260px;
    height: auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-radius: .50em;
    background-color: #e9e5e5;
}

.FiltroDeBusca button{
    margin-bottom: 10px;
}

.Box_Produto {
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
}

.Card {
    width: 250px;
    height: auto;
    margin: auto;
    padding: 5px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    border-radius: .50em;

    background-color: #e9e5e5;
}

.Card h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto {
    display: flex;
    flex-direction: column;
}

.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.EditUserForm {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}

.btn {
    border: none;
    border-radius: .50em;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.767);
    color: white;
}

.Red {
    background-color: rgba(255, 0, 0, 0.774);
}

.Green {
    background-color: green;
}